<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon.jpg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">


    <title>Luna Llena Cerámica</title>
  </head>


  <body>

  <!-- inicia nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img src="../img/logo.jpg" alt="logo de luna llena cerámica">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cuidados.html">Cuidados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cursos.html">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/productos.html">Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!-- termina nav -->

 <header>
    <h1 class="texto">
      Cuidados
    </h1>

    <div class="container">
      <div class="row">
        <div class="col">
        <img src="../img/cuidados.jpg" alt="dibujo de piezas de cerámica">
        <div> 
    </div>
    
  </header>

  <main>

    <p>
      Hola, gracias por elegir nuestros productos.
      <br>
      <br>
      Para que tus piezas duren y conserven la misma calidad y belleza que tenian cuando las compraste, a continuación, te dejamos algunos consejos y recomendaciones para cuidarlas correctamente:
    </p>
    <br>
   <ul>
    <li>  
      Las piezas con lustre oro no pueden frotarse con esponjas verdes o de acero, ni laves con líquidos astringentes como lavandina. Solo agua y detergente con la parte amarilla de la esponja.
    </li>
    <br>
    <li>
       Las piezas cerámicas que fabrico nunca van a fuego directo, ya sea de la hornalla de la cocina o del carbón de la parrilla o de horno de leña, ya que estan esmaltadas y esto dañaría la pieza.
    </li>
    <br>
    <li>
      Cuando uses la pieza con preparaciones calientes, o la saques del horno a alta temperatura usa una superficie de apoyo antichoque térmico, puede ser bandeja de madera, individual de yute, o tela, así disminuís el cambio brusco de temperatura y las piezas no se craquelan, si bien esto no afecta su uso, haciendo uso de estos tips hacemos el objeto más perdurable.
    </li>
   </ul>
    <br>

    <p>
      Muchas Gracias por leerme.
    </p>

  </main>







    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>

    <footer>
    <div class="card text-center bg-green">
  <div class="card-header">
    Luna Llena Cerámica
  </div>
  <div class="card-body">
    <h5 class="card-title">Seguinos en nustras redes</h5>
    <p class="card-text">A continuación te dejamos nuestro Instagram si queres conocer más de nuuestro trabajo</p>
    <a href="https://www.instagram.com/" class="btn boton-color">Instagram</a>
  </div>
  </footer>
</html>