<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon.jpg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">


    <title>Luna Llena Cerámica</title>
  </head>


  <body>

  <!-- inicia nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img src="../img/logo.jpg" alt="logo de luna llena cerámica">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cuidados.html">Cuidados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cursos.html">Cursos</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" href="../views/productos.html">Productos</a>
        </li>
     
      </ul>
    </div>
  </div>
</nav>
  <!-- termina nav -->

    
<header>
  <div class="container">
  <div class="row">
    <div class="col">
      
    </div>
    <div class="col">
      <img src="../img/header views.jpg" alt="Imagen de personas haciendo cerámica">
    </div>
    <div class="col">
      
    </div>
  </div>
</div>
    <h1 class="texto">
      Nuestra Historia
    </h1>
  </header>

  <main>

   <section>
    <h2 class="parrafo__estilo"> 
      Luna llena by Cami
    </h2>
    <p>
      Tengo 22 años y soy estudiante de Letras. Desde muy chica mi pasión fue por el lado del diseño y las artes así que cuando mi mamá me invitó a las clases de ceramica que estaba dando en el taller de su profesora, no dude en ir.
      <br>
      Lo primero que probé fue el torno alfarero. Después de intentarlo varias clases, me di cuenta que no era lo mío. No terminaba de conectar. Antes de darme por vencida, decidí ver que me pasaba interviniendo las piezas ya realizadas...me encantó! Poder darle mi impronta personal a todas esas piezas es algo que me fascinó desde el momento cero. Una, dos, tres.. Nuestra casa se empezó a llenar de piezas diseñadas por nosotras. Un dia, una amiga de mamá que andaba de visita, vió lo que veniamos haciendo y le gustó tanto que nos pidió unas piezas para su casa, convirtiendose en nuestro primer encargo. Allí fue cuando surgió la idea de que lo que había comenzado como un pasatiempo podía convertirse en un proyecto en conjunto.
      <br>
      Hoy me dedico exclusivamente al esmaltado.. Cada pieza en blanco es una oportunidad para dejar fluir la imaginación y volcar el caudal de sensaciones e ideas que se me vienen, así como una catarata, a la cabeza.
    </p>
   </section>

   <section>
    <h2 class="parrafo__estilo">
      Luna llena by Laura
    </h2>
    <p>
      Me dicen Lau, soy la mamá. Nací en Buenos Aires y desarrollé gran parte de mi vida profesional en una empresa familiar. Y aunque mi rutina diaria tenía mucho que ver con los números, mis hobbies siempre fueron por el lado de las artes, hasta que conocí la ceramica.
      <br>
      En 2019 comencé a dar clases e invité a Cami a venir al taller a fin de compartir un espacio de creación juntas y, sobre todo, compartir un momento… así casi sin querer nació Barro.
      <br>
      Luna LLena nos une, apasiona, divierte y nos permite llevar el diseño a la vida cotidiana Juntas, creamos piezas únicas, donde no hay una idéntica a la otra. Piezas que hablan por si mismas,reflejando nuestras emociones y pasión por este proyecto..
    </p>
   </section>

  </main>



    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
    <footer>
    <div class="card text-center bg-green">
  <div class="card-header">
    Luna Llena Cerámica
  </div>
  <div class="card-body">
    <h5 class="card-title">Seguinos en nustras redes</h5>
    <p class="card-text">A continuación te dejamos nuestro Instagram si queres conocer más de nuuestro trabajo</p>
    <a href="https://www.instagram.com/" class="btn boton-color">Instagram</a>
  </div>
  </footer>
</html>