<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="../img/favicon.jpg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/style.css">


    <title>Luna Llena Cerámica</title>
  </head>


  <body>

  <!-- inicia nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-green">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">
      <img src="../img/logo.jpg" alt="logo de luna llena cerámica">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="../index.html">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cuidados.html">Cuidados</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/cursos.html">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/procutos.html">Productos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
  <!-- termina nav -->

  <h1 class="texto">Productos</h1>

<br>

<div class="container">
  <div class="row">
    <div class="col">
      <figure>
        <img src="../img/cuenco invierno.jpg" class="img-thumbnail" alt="...">
        <figcaption class="parrafo__tamaño">Cuenco Invierno</figcaption>
       <p>$2580</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/cuenco koi.jpg" class="img-thumbnail" alt="...">
        <figcaption class="parrafo__tamaño">Cuenco Koi</figcaption>
        <p>$3250</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/cuenco noche estrellada.jpg" class="img-thumbnail" alt="">
       <figcaption class="parrafo__tamaño">Cuenco Noche Estrellada</figcaption>
       <p>$2700</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
     <figure>
        <img src="../img/jarra oceano.jpg"  class="img-thumbnail" alt="">
        <figcaption class="parrafo__tamaño">Jarra Oceano</figcaption>
        <p>$3150</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/jarra texturada.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Jarra Texturada</figcaption>
        <p>$3250</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/maceta bicolor.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Maceta Bicolor</figcaption>
        <p>$1000</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <figure>
        <img src="../img/maceta cuadrille.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Maceta Cuadrille</figcaption>
        <p>$1200</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/maceta raices.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Maceta Raices</figcaption>
        <p>$1100</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/taza eclipse.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Taza Eclipse</figcaption>
        <p>$2200</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <figure>
        <img src="../img/taza happy.jpg"  class="img-thumbnail"alt="">
        <figcaption class="parrafo__tamaño">Taza Happy</figcaption>
        <p>$1800</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
    </div>
    <div class="col">
      <figure>
        <img src="../img/taza minimalista.jpg"  class="img-thumbnail"alt="">
       <figcaption class="parrafo__tamaño">Taza Minimalista</figcaption>
        <p>$2350</p>  
      </figure>
      <a href="" class="btn boton-color">Comprar</a>
  </div>
</div>







    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
    <footer>
    <div class="card text-center bg-green">
  <div class="card-header">
    Luna Llena Cerámica
  </div>
  <div class="card-body">
    <h5 class="card-title">Seguinos en nustras redes</h5>
    <p class="card-text">A continuación te dejamos nuestro Instagram si queres conocer más de nuuestro trabajo</p>
    <a href="https://www.instagram.com/" class="btn boton-color">Instagram</a>
  </div>
  </footer>
</html>